parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Messenger\MessageHandler\SmsNotificationHandler
	- App\Messenger\MessageBus(@messenger.default.bus)

extensions:
	messenger: Fmasa\Messenger\DI\MessengerExtension

messenger:
	buses:
		default:
	transports:
		amqpTransportWithSmsQueue: "amqp://guest:guest@rabbit:5672/%2f/sms"
	routing:
		'App\Messenger\Message\SmsNotification': amqpTransportWithSmsQueue
